
<head>
<style>
body {
    background-color: lightblue;
}

h1 {
	border-style: ridge;
    color: white;
    text-align: center;
    text-shadow: 0 0 5px blue, 0 0 5px darkblue;

}

h4 {
    color: white;
    text-align: center;
}

h3 {


    text-shadow: 1px 1px 2px #000000;
    color: white;
    text-align: center;
}

ul {
    color: white;
    text-align: center;
}

li {

    color: white;
    text-align: center;
    padding-bottom: 50px
}


p {
    color: white;
    text-align: center;
    font-family: verdana;
    font-size: 10px;
}



<h1 style="font-family:verdana;">Voice Controlled Assisted Navigation</h1>
<h3>Apps</h3>
<ul>
  <li *ngFor="let app of apps">{{ app }}</li>
</ul>
<h3>Folders</h3>
<ul>
  <li *ngFor="let folder of folders">{{ folder }}</li>
</ul>
<p>Current Path: {{ path }}</p>
